################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Phone/v15/Server/sqlite3
/.vs/Phone/v15/.suo
/Phone/bin/Debug
/Phone/obj/Debug
